In [63]:
#A1
import pandas as pd
import numpy as np
df = pd.read_csv('Lab Session Data.csv')
df.tail()

,Customer,Candies (#),Mangoes (Kg),Milk Packets (#),Payment (Rs),Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Candy,Mango,Milk
5,C_6,22,1,5,167,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C_7,15,4,2,271,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,C_8,18,4,2,274,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,C_9,21,1,4,148,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,C_10,16,2,4,198,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# Drop columns with 'Unnamed' in their header (often created when saving data with extra index columns)
df = df.drop(df.filter(like='Unnamed').columns, axis=1)

# Drop specific columns that are not needed for the analysis
df = df.drop(['Candy', 'Mango', 'Milk'], axis=1)

# Display the first few rows of the cleaned DataFrame to verify changes
df.head()

# Extract feature columns for the matrix A and target column C
# Features used for the model
A = df[['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)']]

# Target variable (Payment amount) to be predicted
C = df['Payment (Rs)']

# Print Matrix A to verify the extracted features
print("Matrix A:")
print(A)

# Print Matrix C to verify the target values
print("\nMatrix C:")
print(C)

Matrix A:
   Candies (#)  Mangoes (Kg)  Milk Packets (#)
0           20             6                 2
1           16             3                 6
2           27             6                 2
3           19             1                 2
4           24             4                 2
5           22             1                 5
6           15             4                 2
7           18             4                 2
8           21             1                 4
9           16             2                 4

Matrix C:
0    386
1    289
2    393
3    110
4    280
5    167
6    271
7    274
8    148
9    198
Name: Payment (Rs), dtype: int64

In [65]:
# Dimensionality of the vector space
dim = A.shape[1]
print(f"Dimensionality of the vector space is: {dim}")

# Number of vectors
num = A.shape[0]
print(f"Number of vectors is: {num}")

# Rank of Matrix A
rank_A = np.linalg.matrix_rank(A)
print(f"Rank of Matrix A: {rank_A}")

# Computing the pseudo-inverse of A
A_pseudo_inv = np.linalg.pinv(A)

Dimensionality of the vector space is: 3
Number of vectors is: 10
Rank of Matrix A: 3

In [66]:
#A2
# Computing the cost of matrix X
X = A_pseudo_inv @ C
print("Cost of each product:")
print(X)

Cost of each product:
[ 1. 55. 18.]

In [67]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

def load_data():
    # Extract features (A) and target (C) from the DataFrame
    A = df[['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)']]
    C = df['Payment (Rs)']
    return A, C

def compute_labels(C):
    # Generate labels based on the condition
    return np.where(C > 200, 'RICH', 'POOR').flatten()

#Main function to execute the classification process.
def main():
    # Load the data
    A, C = load_data()
    
    # Compute the target labels
    y = compute_labels(C)
    
    # Features for model training
    X = A
    
    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.3, random_state=42, stratify=y
    )
    # Initialize and train the logistic regression model
    model = LogisticRegression(max_iter=1000)
    model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred = model.predict(X_test)
    
    # Print classification report and accuracy score
    print("Classification Report:")
    print(classification_report(y_test, y_pred, zero_division=0))
    print("Accuracy Score:")
    print(accuracy_score(y_test, y_pred))

if __name__ == "__main__":
    # Execute the main function
    main()

Classification Report:
              precision    recall  f1-score   support

        POOR       1.00      1.00      1.00         1
        RICH       1.00      1.00      1.00         2

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3

Accuracy Score:
1.0